body {
  text-align: center;
  background: gray;
}

.content {
  background: white;
  position: relative;
  top: 15vh;
  right: 35vw;
  left: 35vw;
  padding: 20px;
  width: 30vw;
  border-radius: 15px;
  box-shadow: 1px 1px 4px 1px #c8d8eb;
}

input {
  width: 100%;
  margin-bottom: 10px
}

li {
  list-style-type: none;
  margin: 10px;
}

#register {
  position: absolute;
  right: 10px;
  top: 0;
}

#registerTab {
  display: none;
  
}
