<!DOCTYPE html>
<html>

<head>

</head>

<body>
	<div class="main-content" id="content">
		<h2 id="greeting">Hello {{user}},</h2>
		<h3>Welcome to the Store Management System!</h3>
		<button id="logout-btn" (click)='logout()'>Log Out</button>
		<button class="manager-btn" id="manager-btn1" (click)='managerOpenLogin()'>Manager Home</button>
		<table id="main-box">
			<tr>
				<td class="box">
					<h2 class="box-head">Employee</h2>
					<li><a (click)="navigater('employee/clocking')"><img class="mySlides">Clock In/Out</a></li>
					<li><a (click)="navigater('employee/messaging')"><img class="mySlides" src="">Message</a></li>
				</td>
				<td class="box">
					<h2 class="box-head">Shift</h2>
					<li><a (click)="navigater('report/log')">Daily Worksheet</a></li>
				<td class="box">
					<h2 class="box-head">Lotto</h2>
					<li><a (click)="navigater('lotto/active')">Lotto Active</a></li>
					<li><a (click)="navigater('lotto/sale')">Lotto Sale</a></li>
				</td>
			</tr>
			<tr>
				<td class="box">
					<h2 class="box-head">Report</h2>
					<li><a (click)="navigater('report/daily')">Daily Worksheet Report</a></li>
					<li><a (click)="navigater('report/monthly')">Monthly Worksheet Report</a></li>
				</td>
				<td class="box">
					<h2 class="box-head">Order</h2>
					<li><a (click)="navigater('order/entry')">Order List of Inventory</a></li>
				</td>
				<td class="box">
					<h2 class="box-head">Vender</h2>
					<li><a href="components/venderSection/company.php">Vender</a></li>
				</td>
			</tr>
		</table>
		<form id="managerLoginForm" style="display: none;"  ngNativeValidate (ngSubmit)="managerLogin({username: username.value, password:password.value})">
			<button id="close-btn" type="button" (click)='managerOpenLogin()'>X</button>
			<li><h2 class="box-head">Manager</h2></li>
			<li><input id="username" #username name="username" type="text" class="input" placeholder="Enter Your Username" autocomplete="off" required></li>
			<li><input id="password" #password name="password" type="password" class="input" data-type="password" placeholder="Enter Your password" required></li>
			<li><button class="btn_login" type="submit" name='submit'>LOGIN</button></li>
		</form>
	</div>

</body>

</html>
