#content {
	height: 100%;
	margin-top: 0;
}

#greeting {
	color: black;
	position: relative;
	top: 10px;
	margin-bottom: 10px;
	height: 40px;
}

#logout-btn {
	position: absolute;
	background-color: red;
	margin: 0;
	z-index: 100;
	top: 20px;
	right: 5%;
	height: 30px;
}

.manager-btn {
	background-color: orange;
	position: absolute;
	margin: 0;
	z-index: 100;
	top: 50px;
	left: 5%;
	height: 30px;
}

#managerLoginForm {
	position: absolute;
	margin: 0;
	z-index: 1000;
	top: 10vh;
	left: 25vw;
	width: 50vw;
	padding: 50px;
	border: 1px solid orange;
	border-radius: 25px;
	background-color: lightgray;
}

#close-btn {
	position: absolute;
	top: 0;
	right: 0;
	background-color: red;
	border-top-right-radius: 25px;
	width: 50px;
}

#main-box {
	position: relative;
	margin: auto;
	width: 90%;
}

.box-head {
	position: relative;
	top: 0;
	color: blue;
	text-decoration: underline;
}

.box {
	background-color: rgb(252, 235, 211);
	vertical-align: 0;
	width: 30%;
	border: 2px solid #000000;
}
