#content {
    height: 100%;
    margin-top: 0;
}

#greeting {
    color: black;
    position: relative;
    top: 10px;
    margin-bottom: 10px;
    height: 40px;
}

#logout-btn {
    position: absolute;
    margin: 0;
    z-index: 100;
    top: 20px;
    right: 5%;
    height: 30px;
}

#main-box {
    position: relative;
    margin: auto;
    width: 90%;
}

.box-head {
    position: relative;
    top: 0;
    color: blue;
    text-decoration: underline;
}

.box {
    background-color: rgb(252, 235, 211);
    vertical-align: 0;
    width: 30%;
    border: 2px solid #000000;
}