<!DOCTYPE html>
<html>

<head>

</head>

<body>
	<div class="main-content" id="content">
		<h2 id="greeting">Hello {{user}},</h2>
		<h3>Welcome to the Store Management System!</h3>
		<button id="logout-btn" (click)='logout()'>Log Out</button>
		<table id="main-box">
			<tr>
				<td class="box">
					<h2 class="box-head">Employee</h2>
					<li><a (click)="navigater('employee/clocking')"><img class="mySlides">Clock In/Out</a></li>
					<li><a (click)="navigater('employee/messaging')"><img class="mySlides" src="">Message</a></li>
				</td>
				<td class="box">
					<h2 class="box-head">Shift</h2>
					<li><a (click)="navigater('report/log')">Daily Worksheet</a></li>
				<td class="box">
					<h2 class="box-head">Lotto</h2>
					<li><a (click)="navigater('lotto/active')">Lotto Active</a></li>
					<li><a href="components/lottoSection/lottosale.php">Lotto Sale</a></li>
				</td>
			</tr>
			<tr>
				<td class="box">
					<h2 class="box-head">Report</h2>
					<li><a (click)="navigater('report/daily')">Daily Worksheet Report</a></li>
					<li><a (click)="navigater('report/monthly')">Monthly Worksheet Report</a></li>
				</td>
				<td class="box">
					<h2 class="box-head">Order</h2>
					<li><a (click)="navigater('order/entry')">Order List of Inventory.</a></li>
				</td>
				<td class="box">
					<h2 class="box-head">Vender</h2>
					<li><a href="components/venderSection/company.php">Vender</a></li>
				</td>
			</tr>
		</table>
		<form action="" method="POST">
			<div class="cont_form_login">
				<h2 class="box-head">Manager</h2>
				<input id="username" name="username" type="email" class="input" placeholder="Enter Your Username" required>
				<input id="password" name="password" type="password" class="input" data-type="password"
					placeholder="Enter Your password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{3,}"
					title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
					required>
				<button class="btn_login" type="submit" name='submit' (click)="navigater('manager/home')">LOGIN</button>
			</div>
		</form>
		<div>
			<h2 class="box-head">Contact Us</h2>
			<p>Some text..</p>
		</div>
	</div>

</body>

</html>
