#content {
	position: relative;
	height: initial;
	top: 10%;
}

#top-content {
	position: relative;
	width: 50vw;
	border: 5px solid red;
	top: 10%;
	margin: auto;
}

#print-btn {
	display: none;
	background-color: lime;
}

#data-table {
	display: none;
	position: relative;
	border: 5px solid cyan;
	width: 50vw;
	margin: auto;
}

th {
	border: 1px solid gray;
	border-bottom: 3px solid black;
	color: black;
}

td {
	border: 1px solid gray;
}
