body {
	background-color: gray;
}

.content {
	max-width: 650px;
	margin: auto;
	background: white;
	padding: 10px;
}

* {
	box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
	float: left;
	width: 25%;
	padding: 10px;
	height: 350px;
	/* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
	content: '';
	display: table;
	clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}

#frmForgot {
	padding: 20px 60px;
	background: #b6ffda;
	color: #a5a355;
	display: inline-block;
	border-radius: 4px;
}

#frmReset {
	padding: 20px 60px;
	background: #b6e1ff;
	color: #a5a355;
	display: inline-block;
	border-radius: 4px;
}

.field-group {
	margin-top: 20px;
}

.input-field {
	padding: 8px;
	width: 500px;
	border: #a3c3e7 1px solid;
	border-radius: 4px;
}

.form-submit-button {
	background: #13bed0;
	border: 0;
	padding: 8px 20px;
	border-radius: 4px;
	color: #fff;
	text-transform: uppercase;
}

.member-dashboard {
	padding: 40px;
	background: #d2edd5;
	color: #555;
	border-radius: 4px;
	display: inline-block;
}

.member-dashboard a {
	color: #09f;
	text-decoration: none;
}

#validation-message {
	text-align: center;
	color: #ff0000;
}

.success_message {
	text-align: center;
	color: #07ab61;
}
