body {
    text-align: center;
    background: lightgray;
  }
  
  .main-content {
    background: white;
    position: relative;
  }
  
  input {
    width: 100%;
    margin-bottom: 10px
  }
  
  li {
    list-style-type: none;
    margin: 10px;
  }