<!DOCTYPE html>
<html>
	<head> </head>

	<body>
		<div class="main-content" id="content">
			<div id="entry-content">
				<h1 id="header"><strong>Order List Entry</strong></h1>
				<button id="new-btn" (click)="newOrder()">New Order</button>
				<li>
					<form (ngSubmit)="getItem()">
						<input
							id="barcode-input"
							type="text"
							placeholder="Enter Barcode"
							name="barcode"
							autocomplete="off"
							[(ngModel)]="barcode"
						/>
						<button id="item-btn" type="submit">Retrieve</button>
					</form>
				</li>
				<li>
					<form (ngSubmit)="insert()">
						<input
							id="name-input"
							type="text"
							placeholder="Enter Name"
							name="name"
							autocomplete="off"
							[(ngModel)]="name"
						/>
						<input
							id="quantity-input"
							type="number"
							placeholder="Enter Quantity"
							name="quantity"
							[(ngModel)]="quantity"
						/>
						<button id="add-btn" type="submit">Add</button>
					</form>
				</li>
				<form (ngSubmit)="delete()">
					<li>
						<input
							id="delete-input"
							#deleteName
							type="text"
							placeholder="Enter Item Barcode to delete"
							name="deleteName"
							autocomplete="off"
						/>
						<button id="delete-btn" type="submit">Delete</button>
					</li>
				</form>

				<li>
					<a (click)="navigater('home')" id="return">Return Home</a>
				</li>

				<button id="print-btn" (click)="navigater('order/print')">
					Go to Print Page
				</button>
			</div>

			<table id="orderTable">
				<thead id="orderTableHead">
					<th class="orderTableSl">Sl</th>
					<th class="orderTableENum">Barcode</th>
					<th class="orderTableNames">Name</th>
					<th class="orderTableQuantities">Quantity</th>
				</thead>
				<tr class="orderTableRows" *ngFor="let item of orderItems">
					<td class="orderTableSl">{{ item.serialnum }}</td>
					<td class="orderTableENum">{{ item.barcode }}</td>
					<td class="orderTableNames">{{ item.name }}</td>
					<td class="orderTableQuantities">{{ item.quantity }}</td>
				</tr>
			</table>
		</div>
	</body>
</html>
