#content {
	position: relative;
	border: 5px solid gray;
	width: fit-content;
	padding: 10px;
	background-color: lightgray;
	top: 5vh;
}

h1 {
	color: black;
	font-weight: bold;
	text-decoration: underline;
}

#date {
	position: relative;
	margin-right: 20px;
}

#shift {
	position: relative;
}

#main-table {
	position: relative;
	margin: auto;
	margin-top: 10px;
	border-top: 5px dotted gray;
}

.main-table-section {
	position: relative;
	border: 1px solid burlywood;
}

#company-name-input7, #company-name-input8, #company-name-input9, #company-amount-input7, #company-amount-input8, #company-amount-input9, #company-name-input7::placeholder, #company-name-input8::placeholder, #company-name-input9::placeholder, #company-amount-input7::placeholder, #company-amount-input8::placeholder, #company-amount-input9::placeholder {
	color: blue;
}

th {
	position: relative;
	top: 0;
	color: red;
	border-bottom: 3px solid red;
}

td {
	position: relative;
	vertical-align: 0;
	color: green;
}

#submit {
	color: blue;
	background-color: orange;
}

#return {
	color: red;
}
