#content {
	top: 15vh;
	padding: 20px;
	width: 30vw;
	border-radius: 15px;
	box-shadow: 1px 1px 4px 1px #cc0cd3;
}

#header {
	color: black;
}

#register {
	position: absolute;
	right: 0;
	top: 0;
	width: 15%;
	color: red;
	font-style: italic;
	background-color: aqua;
	border-top-right-radius: 15px;
	border: 2px solid #cc0cd3;
}

#btn_login {
	background-color: rgb(204, 204, 204);
	color: red;
	border-radius: 5px;
}

.input {
	width: 100%;
	margin-bottom: 10px
}
